*{
    font-family: 'arial';
  }
  body{
    background-color: #0D7EAB;
  }
  .contenido{
    width: 50%;
    margin: auto;
  }
  div{
    border-radius: 10px;
  }
  .seccion{
    background-color: #3AB099;
    border: 2px solid black;
  }
  .operacion{
    background-color: #3AB099;
    border: 2px solid black;
  }
  .datosgrid-container{
    display: grid;
    background-color: #7FD3C2;
    grid-template-columns: 35% 35% auto;
  }